
section.second-wrap .enroll-now-btn button {

    color: #FFFFFF;
    background: linear-gradient(to left,#020248 50%, #AD1115 50%);
    border-radius: 3px;
    padding: 14px 30px;
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all .6s ease-out;
}
section.second-wrap .enroll-now-btn button:hover{
  background-position: right bottom;
}




