For Image Zoom In Hover Effect


.card-inner-content {
  overflow: hidden;
  position: relative;  
  width: 100%;
  height: 320px;
  transition: 0.4s;
}

.card-inner-content:hover img{
  transform: scale(1.2);
  opacity: 0.8;
}
.card-inner-content img {
  width: 100%;
  transition: 0.5s;
  height: 100%;
}
