
.header {
    position: fixed;
    z-index: 99999;
    height: 100px;
    top: 0;
    width: 100%; 
    background: #0000001f;
    padding: 20px 0px;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
    border-bottom: 2px solid transparent;
  }
  
  .active-header {
    background-color: rgba(255, 255, 255);
    border-bottom: 2px solid #323B6E;
  }
