One Div Only

section.eight-wrap .package-inner ul.package-body::-webkit-scrollbar {
	width: 4px;
}
/* Track */

section.eight-wrap .package-inner ul.package-body::-webkit-scrollbar-track {
	background: #d4d4d4 ;
}
/* Handle */

section.eight-wrap .package-inner ul.package-body::-webkit-scrollbar-thumb {
	background: #790101 ;
}
/* Handle on hover */

section.eight-wrap .package-inner ul.package-body::-webkit-scrollbar-thumb:hover {
	background: #8b8b8b;
}









Whole Projects

::-webkit-scrollbar {
	width: 4px;
}
/* Track */

::-webkit-scrollbar-track {
	background: #d4d4d4 ;
}
/* Handle */

::-webkit-scrollbar-thumb {
	background: #790101 ;
}
/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	background: #8b8b8b;
}
