html{
    scroll-behavior: smooth;}
*{
  padding: 0%;
  margin: 0%;}
.TopLINE{
    background-color: black;
    width: 100%;
    height: 40px;}

.leftside{
    padding: 9px;
    color: white;
    margin: 5px 25px;
    float: left;}

.rightside{
    color: white;
    float: right;
    margin: 0px 25px;
    padding: 8px;}

.left{
    margin-left: 20px;
    padding-bottom: 1%;}

.right{
    float: right;
    color: black;
    cursor: pointer;
    font-size: 30px;
    text-transform: uppercase;}
li {
    display: inline;
    text-align: left;
    cursor: pointer; }

    .li:hover{
      color: rgb(216, 203, 25);
    }


i {
  padding-left: 10px;
}    

.fas {
    color: rgb(87, 175, 60);}

.btn{
    color: white;
    cursor: pointer;
    background-color: rgb(73, 151, 66);
    width: 3cm;
    margin: 1% 4px;
    padding: 0% 10px;}

.three button{
    background-color: rgb(235, 238, 46);
    text-transform: uppercase;
    width: 200px;
    height: 1cm;
    cursor: pointer;}

.three{
    background: url(images/whyus.png) no-repeat;
    text-align: center;
    background-size: cover;
    color: white;
    height: 12cm;}
    
.three h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 3cm;}

.three p {
    text-align: center;
    padding-top: 70px;
    font-size: 18px;}

.four h1{
    text-align: center;
    font-size: 40px;
    padding-top: 35px;}

.four p {
  text-align: center;
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 50px;
  color: rgb(158, 175, 136);}



/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: auto;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
}
.row img{
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 58px;
  width: 180px;
  height: auto;
}
.row p{
  text-align: center;
  margin-bottom: 30px;
}

.row h2{
 text-align: center;
}
.column {
  flex: 33.33%;
  padding: 5px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}



.five { 
  padding-top: 30px;
  background: url(images/aboutus.png) no-repeat;
  background-size: cover;}

.five nav {
  margin-left: 30px;}

.five img {
  float: right;
  width: 50%;
  height: 8cm;}

.five button{
  background-color: rgb(235, 238, 46);
  text-transform: uppercase;
  width: 150px;
  height: 30px;
  cursor: pointer;}

.five h1{
  text-align: center;
  font-size: 40px;
  padding: 10px 0px;}




/*------------------Our Service--------------*/



.k1{
  display: inline-block;
  margin-left: 50px;
  border-radius: 5%;
  height: 6cm;
  width: 8cm;
  padding-top: 20px;
  
  background: url(images/services.png) no-repeat;
  background-size: cover;}

.k1:hover{
  cursor: pointer;
  transform: translateY(-30px);
}  

.k1 p{
  font-size: 18px;
  padding-top: 30px;
  text-align: center;
  margin-left: 8px;
  color: rgb(158, 175, 136);}

.k1 h1 {
  font-size: 20px;
  margin-left: 83px;
  padding-top: 100px ;}

.k12{
  display: inline-block;
  margin-left: 50px;
  border-radius: 5%;
  height: 6cm;
  width: 8cm;
  padding-top: 20px;
  background: url(images/services.png) no-repeat;
  background-size: cover;}
  .k12:hover{
    cursor: pointer;
    transform: translateY(-30px);
  }

.k12 p{
  font-size: 18px;
  padding-top: 30px;
  text-align: center;
  margin-left: 8px;
  color: rgb(158, 175, 136);}

.k12 h1 {
  font-size: 20px;
  margin-left: 1.7cm;
  padding-top: 100px ;}

.k13{
  display: inline-block;
  margin-left: 80px;
  border-radius: 5%;
  height: 6cm;
  width: 8cm;
  padding-top: 20px;
  background: url(images/services.png) no-repeat;
  background-size: cover;}
  .k13:hover{
    cursor: pointer;
    transform: translateY(-30px);
  }
        
.k13 p{
  font-size: 18px;
  padding-top: 30px;
  text-align: center;
  margin-left: 8px;
  color: rgb(158, 175, 136);}

.k13 h1 {
  font-size: 20px;
  margin-left: 2.6cm;
  padding-top: 100px ;}

.k14{
  display: inline-block;
  margin-left: 70px;
  border-radius: 5%;
  height: 6cm;
  width: 8cm;
  padding-top: 20px;
  background: url(images/services.png) no-repeat;
  background-size: cover;}
  .k14:hover{
    cursor: pointer;
    transform: translateY(-30px);
  }

.k14 p{
  font-size: 18px;
  padding-top: 30px;
  text-align: center;
  margin-left: 8px;
  color: rgb(158, 175, 136);}

.k14 h1 {
  font-size: 20px;
  margin-left: 2.3cm;
  padding-top: 100px ;}        


/*--------------------------*/

.six h1{
  text-align: center;
  font-size: 40px;
  padding: 30px 0px;}

.six h1:hover{
  color: rgb(14, 117, 49);
}  

.six p{
  text-align: center;
  font-size: 18px;
  padding: 40px 100p;
  padding-top: 30px;
  padding-bottom: 25px;;
  color: rgb(158, 175, 136);}




  /*--------------------------------*/

.seven{
  padding-top: 40px;
  background-color: rgb(40, 43, 35);
  margin-top: 50px;}
.seven h1{
  text-align: center;
  color: white;}

.seven p{
  text-align: center;
  font-size: 18px;
  padding: 20px;
  color: rgb(158, 175, 136);}

.seven ul{
  text-align: center;
  color: black;
  font-size: 30px;
  cursor: pointer;
  color: rgb(253, 253, 253);
  text-transform: uppercase;
  padding-top: 20px;
}
.seven li:hover{
  color: rgb(216, 203, 25);
}

.seven li {
  display: inline;
  margin: 0px 10px;}

.seven img {
  margin: 50px 150px;}

.eight h1{
  text-align: center;
  font-size: 40px;
  padding-top: 35px ;}

.eight p {
  text-align: center;
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 50px;
  color: rgb(158, 175, 136);}
    
.eight img{
  background:no-repeat;
  background-size: cover;
  margin-left: 85px; }

.nine{
  display: inline-block;}

.nine p{
  font-size: 18px;
  padding-top: 30px;
  text-align: center;
  margin-left: 2.4cm;
  color: rgb(158, 175, 136);}

.nine h3 {
  font-size: 20px;
  margin-left: 2.4cm;
  padding-top: 30px ;}

.ten{
  display: inline-block;}
    
.ten p{
  font-size: 18px;
  padding-top: 30px;
  text-align: center;
  margin-left: 2cm;
  color: rgb(158, 175, 136);}

.ten h3 {
  padding: 40px 100p ;
  font-size: 20px;
  margin-left: 2.2cm;
  padding-top: 30px ;}

.ten1{
  display: inline-block}
        
.ten1 p{
  font-size: 18px;
  padding-top: 30px;
  text-align: center;
  margin-left: 2.2cm;
  color: rgb(158, 175, 136);}

.ten1 h3 {
  font-size: 20px;
  margin-left: 2.9cm;
  padding-top: 30px ;}

.ten12{
  display: inline-block;}

.ten12 p{
  font-size: 18px;
  padding-top: 30px;
  text-align: center;
  margin-left: 2.2cm;
  color: rgb(158, 175, 136);}

.ten12 h3 {
  font-size: 20px;
  margin-left: 2cm;
  padding-top: 30px ;}

.ten123{
  display: inline-block;}
                
.ten123 p{
  font-size: 18px;
  padding-top: 30px;
  text-align: center;
  margin-left: 2.2cm;
  color: rgb(158, 175, 136)}

.ten123 h3 {
  font-size: 20px;
  margin-left: 2.4cm;
  padding-top: 30px ;}
    
.ten111{
  display: inline-block;}
                    
.ten111 p{
  font-size: 18px;
  padding-top: 30px;
  text-align: center;
  margin-left: 2.2cm;
  color: rgb(158, 175, 136)}

.ten111 h3 {
  font-size: 20px;
  margin-left: 3cm;
  padding-top: 30px ;}

.eight22{
  margin-top: 40px;
  background-color: rgb(233, 236, 229);}

.eight22 h1{
  text-align: center;
  font-size: 40px;
  padding-top: 35px ;}

.eight22 p {
  text-align: center;
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 50px;
  color: rgb(158, 175, 136)}
                        
.eight22 img{
  background:  no-repeat;
  background-size: cover;
  margin-left: 85px; }
                    
.eight23 h1{
  text-align: center;
  font-size: 40px;
  padding-top: 35px;}

.eight23 p {
  text-align: center;
  font-size: 22px;
  padding-top: 40px;
  color:black;
  padding-bottom: 50px;
  color: rgb(158, 175, 136)}

.eight23 img{
   background:  no-repeat;  
   background-size: cover;
   margin-left: 85px;}
.ho1 {
    display: inline-block;}

.ho1 h2{
    padding-top: 20px;
    margin-left: 165px;}

.ho2 {
    display: inline-block;}

.ho2 h2{
    padding-top: 20px;
    margin-left: 239px;}

.ho3{
    display: inline-block;}

.ho3 h2{
    padding-top: 20px;
    margin-left: 235px;}

.ho4{
    display: inline-block;}

.ho4 h2{
    padding-top: 20px;
    margin-left: 220px;}

.pro {
   margin-top: 90px;
   background-color: yellowgreen;
   height: 10cm;}

.pro h1 {
    padding-top: 70px;
    color: white;
    text-align: center;}

.pro form{
    padding-top: 50px;
    text-align: center;
    padding : 40px 100p;}

.pro p {
    padding-top: 40px;
    font-size: 22px;
    text-align: center;
    color: white}

.pro input{
    padding: 0px 50px;
    height: 1cm;
    width: 100px;
    margin-left: 10px;}

.pro button{
    padding: 0px 50px;
    height: 1.2cm;
    padding: 40px 100p ;
    width: 250px;
    margin-left: 40px;
    cursor: pointer;
    background-color: rgb(255, 214, 32);
    color: white;}

.eight200 h1{
    text-align: center;
    font-size: 40px;
    padding-top: 35px ;}

.eight200 p {
    text-align: center;
    font-size: 18px;
    padding-top: 40px;
    padding-bottom: 50px;
    color: rgb(158, 175, 136)}  

.eight200 img{
    background:  no-repeat;
    background-size: cover;
    margin-left: 85px;}

.eight200 i {
  text-align: center;
  margin-left: 280px;}  

.eight200 img {
  margin: 0% ;
  margin-top: 20px;}

.Bgcolor{
    background-color: yellowgreen;}

.last1 {
    display: inline-block;}

.last1 img {
     margin-top: 1cm;
     margin-left: 70px;
     height: 3cm;
     width: 6cm;}

.last1 p{
     margin-left: 70px;
     margin-top: 50px;
     color: rgb(229, 236, 220);}

.Last2 {
     display: inline-block;}

.Last2 li {
     margin-left: 1300px;
     text-decoration: none;}

.Last2 h3{
     margin-top: none;
     margin-left :1300px;}